.LanguageSwitcher{
  background: transparent;
  outline: none;
  border: none;
  appearance: none;
  font-size: 1.2em;
  padding: 10px 20px;
  margin: auto 0;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 600px){
  .LanguageSwitcher{
    margin-bottom: 10px;
  }
}