.project-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 20px 0;
  padding: 10px;
  max-height: 460px;
  overflow: scroll;
}




@media screen and (max-width: 720px){
  .project-container{
    grid-template-columns: 1fr;
  }
  .project-container img{
    max-width: 100%;
  }
}