/*fade in */
.fadeIn{
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.scaleUp{
  animation: scaleUp 0.5s forwards;
}

@keyframes scaleUp{
  from{
    transform: scale(0.5);
  }
  to{
    transform: scale(1);
  }
}

.scaleDown{
  animation: scaleDown 0.5s forwards;
}

@keyframes scaleDown{
  from{
    transform: scale(1.5);
  }
  to{
    transform: scale(1);
  }
}

.scaleOpen{
  animation: scaleOpen 0.5s forwards;
}

@keyframes scaleOpen{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
    
  }
}

/* text scale in */
.textScaleIn{
  animation: textScaleIn 0.5s forwards;
}

@keyframes textScaleIn{
  from{
    letter-spacing: 0.7em;
  }
  to{
    letter-spacing: unset;
  }
}

.slideDown{
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown{
  from{
    transform: translateY(-50px);
  }
  to{
    transform: translateY(0px);
  }
}

.slideUp{
  animation: slideUp 0.5s forwards;
}

@keyframes slideUp{
  from{
    transform: translateY(50px);
  }
  to{
    transform: translateY(0px);
  }
}


.rotateUp{
  animation: rotateUp ease-out 1s forwards;
}

@keyframes rotateUp{
  from{
    transform: rotateX(-90deg);
  }
  to{
    transform: rotateX(0);
  }
}

.rotateDown{
  animation: rotateDown 1s ease-out forwards;
}

@keyframes rotateDown{
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0);
  }
}